body {
    width: 960px;
    margin: auto;
}

@font-face {
    font-family: BitterSweet;
    src: url(./fonts/BitterSweet.ttf);
}

@font-face {
    font-family: CloisterBlack;
    src: url(./fonts/CloisterBlack.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

.left-side {
    float: left;
    padding: 0;
    margin: 10px;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.caption {
    font-size: 10px;
    display: block;
    padding-left: 5px;
}

.siteName {
    font-size: 20px;
}

li a:hover:not(.active) {
    background-color: Orange;
}

.active {
    background-color: orange;
}

hr {
    background-color: orange;
    height: 1px;
    border: 0;
}

.heading {
    font-size: 35px;
    margin: 40%;
}

div {
    margin-top: 20px;
    padding: 35px;
    float: left;
}

img {
    border: 2px solid gold;
}

.divtext {
    margin-top: 20px;
    padding: 35px;
    float: left;
    font-size: 25px;
    font-family: CloisterBlack;
}

footer {
    overflow: hidden;
    background-color: #333;
    margin-top: 150%;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
    font-size: 10px;
}
