@font-face {
    font-family: BitterSweet;
    src: url(./fonts/BitterSweet.ttf);
}

@font-face {
    font-family: CloisterBlack;
    src: url(./fonts/CloisterBlack.ttf);
}

body {
    width: 960px;
    margin: auto;
}

.title {
    font-family: CloisterBlack;
    font-size: 25px;
    padding-left: 20px;
}

.body {
    font-family: BitterSweet;
    padding-left: 20px;
    display: inline;
}

img {
    float: left;
    display: inline;
    opacity: 0.5;
}

td {
    width: 300px;
}

img:hover {
    opacity: 1.0;
}

div {
    width: 300px;
    float: left;
    border: 1px solid black;
}
