body {
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav {
    padding-top: 2px;
    background-color: orange;
}

li {
    float: right;
}

.left-side {
    float: left;
    padding: 0;
    margin: 10px;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-size: 10px;
}

.menuText {
    font-size: 10px;
    color: grey;
    text-align: center;
    text-decoration: bold;
}

    .menuText:hover {
        color: white;
    }

.caption {
    font-size: 10px;
    display: block;
    padding-left: 1px;
}

.siteName {
    font-size: 20px;
}

li a:hover:not(.active) {
    background-color: Orange;
    color: white;
}

.active {
    background-color: orange;
    color: white;
}

hr {
    background-color: orange;
    height: 1px;
    border: 0;
}
