body {
    background-color: lightgreen;
    width: 960px;
    margin: auto;
}

div {
    text-align: center;
    padding: 20px;
    margin: 25px;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    float: left;
}
