body {
    background-color: lightblue;
    width: 960px;
    margin: auto;
}

.centered {
    text-align: center;
    padding: 20px;
}

.first {
    margin: 10px;
    background-color: lightgreen;
    height: 150px;
    width: 600px;
    float: left;
}

.second {
    margin: 10px;
    background-color: pink;
    height: 150px;
    width: 300px;
    float: left;
}
